# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo
# Carpetas específicas de Visual Studio
.vs/
[Bb]in/
[Oo]bj/
*.user
*.suo

# Excepciones: las dependencias de las librerías SÍ se suben
!**/freeglut.dll
!**/freeglut.lib
!**/freeglut
!**/freeglut.h
!**/ETSIDI.lib
!**/ETSIDI.dll
!**/ETSIDI.h
!**/fmodL.dll
!**/glut32.dll
!**/glut32.lib
!**/glut.h
# Carpetas de compilación de Visual Studio (C++ moderno)
x64/
Debug/
Release/
[Xx]64/
[Dd]ebug/
[Rr]elease/

# Archivos temporales de compilación
*.tlog
*.log
*.recipe
*.lastbuildstate
*.unsuccessfulbuild
*.idb
*.iobj
*.ipdb
*.tmp
*.cache

#Sube las carpetas de lib y bin
!**/lib/
!**/bin/
!*.lib
!*.dll
!*.h